.subtotal{
  /* flex will display all the elements in one line */
    display:flex;
/* flex direction is column so all the items will be one below another in a cloumn struture */
    flex-direction: column;
    justify-content: space-between;
    /* width will increase menas horizontal increase 300px */
    width:300px;
    /* height will increase menas vertically increase 100px */
    height:100px;
    padding:20px;
    background-color:#f3f3f3;
    border:1px solid #dddddd;
    border-radius:3px;
}

.subtotal__gift{
    display:flex; 
    align-items: center;
}

.subtotal_gift >input{
    margin-right: 5px;
}

.subtotal >button{
    background:#f0c14b;
    border-radius:2px;
    width:100%;
    height:30px;
    border:1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}